
.looking {
position: absolute;
top:40%;
left:30%;
}

.textAnimation
{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  // text-transform: uppercase;
  font-family: 'Pacifico', cursive;
  letter-spacing: 5px;
  margin:0;
  padding:0;
  color: transparent;
}
.textAnimation:before
{
  content: attr(data-text);
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ff0100;
  overflow: hidden;
  border-right: 1px solid #000;
  animation: type 10s steps(35) infinite;
  white-space: nowrap;
}

@keyframes type
{
    0%
    {
      width: 0
    }

    50%
    {
      width: 100%
    }

    0%
    {
      width: 0
    }
}