.mapContainer {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  }
#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
}
.mapboxgl-canvas-container {
  width: 250ch;
  height: 75vh;

}
.mapboxgl-canvas {
  // position: relative;
  width: 250ch;
  height: 75vh;
}