.custom-style-box {
  background-color: white;
  width: 400px;
  border-radius: 20px;
  border-color: brown;
  padding: 5px;
}

.custom-style-list {
  background-color: white;
  border-radius: 20px;
  width: 400px;
  border-color: brown;
  padding: 5px;
}