.container {
  display: flex;
  justify-content: space-around;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
}
article h2 {
  margin-bottom: 3em;
}

img {
  width: 50%;
  height: auto;
}