.card-container{
  display: flex;
  justify-content: space-evenly;
}

.card{
  border:1px solid gray;
  padding: 10px;
}
.category-icons:hover {
  opacity: 0.7;
  transform: scale(1.5);
}

.categories-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.pic {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.pic1 {
  width: 230px;
  padding-left: 20px;
  padding-right: 20px;
}

.pic2 {
  width: 220px;
  height: 110px;
  padding-left: 20px;
  padding-right: 20px;
}

.pic3 {
  width: 220px;
  height: 110px;
  padding-left: 20px;
  padding-right: 20px;
}

.category-text {
  color: black;
  font-size: medium
}

.wrapper {
  display: contents;
}

.categories-search-text {
  padding-top: 3%;
  padding-left: 10%;
}