.welcomePage img {
  position: relative;
  height: auto;
  width: 100%;
}

.login-Button {
  position: absolute;
  padding-top: 2%;
  right: 100px;
  top: 0;
}

.location-front-page {
  position: absolute; 
  top: 75%; 
  left: 40%
}
